/* body */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 300vh; */
  width: 100vw;
}

/* firstdiv */

.firstDiv {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #242337;
  justify-content: center;
  transition: height ease 0.8s;
  text-decoration: none;
  z-index: 1000;
}

.firstDiv .mainTitle {
  display: flex;
  font-size: 4.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;

  color: #ededed;
  transition: font-size 1.1s;
  text-decoration: none;
  font-family: Josefin Sans;
  /* border: solid 2px yellow; */
  z-index: 1000;
}

.soustitre {
  font-family: Josefin Sans;
  color: #ededed;
  transition: font-size 1.1s, margin-top 1s;
  /* animation: fadeIn .5s ease, margin-top .5s ease, margin-bottom .5s ease; */
  /* border: solid 2px red; */
  margin-top: 4em;
  font-size: 2em;
  margin-bottom: 1px;
  /* font-size: 1.8rem; */
  font-weight: 300;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

/* second div */

.image {
  height: 100%;
  width: 100%;
  /* background-color: #ededed; */
  overflow: hidden;
  line-height: 0;
  /* border: solid 4px green; */
  /* -webkit-filter: grayscale(100%); */
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

image:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  bottom: -91%;
  background: red;
  /* background-color: #ededed; */
  -webkit-transform: rotate(355deg);
  transform: rotate(355deg);
}

.SecondDiv {
  /* background-color: #ededed; */
  width: 100vw;
  /* border: solid 4px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.secondDivTitle {
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 2rem;
  /* background-color: #ededed; */
  height: 8vh;
  width: 100vw;
  display: flex;

  /* border: solid 4px yellow; */

  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans;
  font-weight: 400;
}

.secondDivParagraph {
  margin-bottom: 13vh;
  font-size: 1.3rem;
  width: 30vw;
  /* background-color: #ededed; */
  /* border: solid 4px orange; */
  /* height: 50vh; */
  /* background-color: #ededed; */
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

/* third div */

.thirdDiv {
  width: 100vw;
  /* border: solid 4px red; */
  display: flex;
  height: 77vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 224, 212, 0.3);
  transform: skewY(-5deg);
}

.thirdDivTitle {
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 2rem;
  height: 8vh;
  width: 100vw;

  /* background-color: rgba(229, 224, 212, 0.3); */
  display: flex;
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-weight: 400;

  transform: skewY(5deg);
}

.thirdDivParagraph {
  /* background-color: rgba(229, 224, 212, 0.3); */
  margin-bottom: 13vh;
  font-size: 1.3rem;
  width: 30vw;

  transform: skewY(5deg);
  /* border: solid 4px orange; */
  /* height: 50vh; */

  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.thirdDivBis {
  width: 100vw;
  /* border: solid 4px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ededed; */
  height: 85vh;
  /* transform: skewY(11deg); */
}

.thirdDivBisParagraph {
  /* background-color: #ededed; */
  margin-bottom: 13vh;
  font-size: 1.3rem;
  width: 30vw;
  /* border: solid 4px orange; */
  /* height: 50vh; */
  /* transform: skewY(11deg); */
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.thirdDivBisTitle {
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 2rem;
  height: 8vh;
  width: 100vw;
  /* background-color: #ededed; */
  display: flex;
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-weight: 400;
}

/* thirdDivBis */

.image7 {
  height: 60%;
  width: 60%;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.image7:hover {
  height: 60%;
  width: 60%;
  z-index: 1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.8s ease;
}

.divImage7 {
  display: flex;
  justify-content: center;
  /* background-color: #ededed; */
}

/*fourth div*/

.fourthDiv {
  width: 100vw;
  /* border: solid 4px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ededed; */
}

.fourthDivTitle {
  margin-top: 3.4vh;
  /* margin-bottom: 5vh; */
  font-size: 2rem;
  height: 8vh;
  width: 100vw;
  display: flex;
  /* background-color: #ededed; */
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-weight: 400;
  /* background-color: rgba(229, 224, 212, 0.4); */
  /* transform: skewY(5deg); */
}

.fifththDivTitle {
  margin-top: 4vh;
  /* margin-bottom: 5vh; */
  font-size: 2rem;
  height: 8vh;
  width: 100vw;
  display: flex;
  /* background-color: #ededed; */
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-weight: 400;
  color: #ededed;
  /* background-color: rgba(229, 224, 212, 0.4); */
  transform: skewY(5deg);
}

.fourthDivParagraph {
  margin-top: 4vh;
  /* margin-bottom: 5vh; */
  font-size: 1.3rem;
  width: 30vw;
  color: #ededed;
  /* border: solid 4px orange; */
  /* height: 50vh; */
  /* background-color: #ededed; */
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

/* fifthDiv */

.fifthDivContainer {
  background-color: rgba(36, 35, 55, 1);
  /* transform: skewY(-5deg); */
  color: #ededed;
  justify-content: center;
  display: flex;
  /* width: 50vw; */
}

.fifthDiv {
  display: flex;
  /* margin-bottom: 70px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  /* background-color: rgba(229, 224, 212, 0.4); */
  /* transform: skewY(5deg); */
}

.iconesReseaux {
  /* border: solid 4px orange; */

  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
  /* transform: skewY(0deg); */
  /* background-color: #ededed; */
}

.facebook,
.instagram {
  color: #242337;
  /* border: solid 3px red; */
  /* width: 50px; */
  /* background-color: rgba(229, 224, 212, 0.4); */
  /* transform: skewY(5deg); */
}

.facebook:hover,
.instagram:hover {
  color: #5a587c;
}

.facebook1,
.instagram1 {
  display: flex;
  width: 40px;
  justify-content: center;
  /* border: solid 2px blue; */
  margin: 20px;
  /* background-color: rgba(229, 224, 212, 0.4); */
}

.fifthDivTitle {
  font-size: 1.4rem;
  /* height: 8vh; */
  /* width: 90vw; */
  display: flex;
  margin-top: 28px;
  margin-bottom: 6px;
  /* background-color: #ededed; */
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 300;
  /* border: solid 2px red; */
  font-weight: 400;
}

.iconesContainer {
  /* background-color: rgba(229, 224, 212, 0.4); */
  transform: skewY(0deg);
  display: flex;
  justify-content: center;
}

.fifthDivSecondTitle {
  font-size: 1.3rem;
  /* height: 8vh; */
  /* width: 90vw; */

  display: flex;
  /* background-color: #ededed; */
  /* border: solid 4px yellow; */
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Josefin Sans;
  font-weight: 300;
  /* border: solid 2px red; */
}

.fifthDivParagraph {
  /* border: solid 2px orange; */
  font-size: 1.1rem;
  width: 70vw;
  margin-top: 8px;
  margin-bottom: 18px;
  font-style: italic;
  font-weight: 300;
  /* border: solid 4px orange; */
  /* height: 50vh; */
  /* background-color: #ededed; */
  /* justify-content: center;
  flex-direction: column;
  display: flex; */
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.mail {
  font-family: "Lato", sans-serif;
  margin-bottom: 18px;
  margin-top: 20px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* font-size: 1.2rem; */
  font-weight: 400;
  width: 12vw;
  height: 5vh;
  /* background-color: #ededed; */
  font-weight: 400;
  color: #242337;
  border-radius: 25px;
}

.nousLocaliser {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  /* font-size: 1.2rem; */
  font-weight: 700;
  width: 10vw;
  height: 5vh;
  /* background-color: #ededed; */
  border: solid 1.5px white;
  color: white;
  border-radius: 25px;
}

/* footer */

.lastDivDiv {
  background-color: white;
  /* transform: skewY(5deg); */
  /* display: flex;
  justify-content: center; */
}

.footer {
  /* background-color: black; */
  margin-top: 7em;
  /* margin-left: 9em; */
  font-family: "Lato", sans-serif;
  /* background-color: #ededed; */
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
}

.footerText1 {
  width: 50vw;

  color: #242337;
  /* border: solid 1px red; */
}

.footerText2 {
  /* border: solid 1px blue; */
  display: flex;
  width: 20em;

  flex-direction: row;
  color: #242337;
}

.footerText2 p {
  /* border: solid 1px yellow; */
  color: #242337;
  width: 5em;
}

.footerText2 b {
  color: #515166;
  width: 50em;
}

.ouverture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ouvertureText {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  font-weight: 700;
}

.italique {
  font-style: italic;
  font-weight: 300;
}

.boldText {
  font-weight: 400;
  font-style: italic;
}

.boldFourthText {
  font-weight: 300;
  font-style: italic;
}

.diagonale {
  background-color: rgba(229, 224, 212, 0.8);
  transform: skewY(-5deg);
  width: 15vw;
  height: 5px;
  border: 0;
}

/* .diagonaleFoncee {
  background-color: rgba(46, 45, 70, 0.8);
  transform: skewY(-5deg);
  width: 15vw;
  margin-top: 20px;
  margin-bottom: 60px;
  height: 5px;
  border: 0;
} */

.créditsContainer {
  margin-bottom: 5px;
}

/* .diagonaleFoncee2 {
  background-color: rgba(46, 45, 70, 0.8);
  transform: skewY(-5deg);
  width: 15vw;
  margin-top: 10vw;

  height: 5px;
  border: 0
} */

.blocImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-bottom: 13vh;
  /* border: solid 2px red; */
  width: 65vw;
}

.image6 {
  width: 170px;
  height: 170px;

  margin-bottom: 80px;

  position: relative;
  z-index: 1;
}

.image3,
.image4,
.image5 {
  width: 220px;
  height: 160px;

  margin-bottom: 20px;

  position: relative;
  z-index: 1;
}

.nosPartenaires {
  font-family: "Lato", sans-serif;
  /* 
  margin-top: 30px; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nosPartenaires p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  font-size: 1.3rem;
  /* font-weight: 700; */
}

.partenairesContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.div2,
.div4 {
  display: flex;
  /* margin: 40px; */
  /* margin: 10px; */
  width: 155px;
  height: 130px;
  /* justify-content: center;
  align-content: center;
  justify-items: center; */
}

.div1 {
  display: flex;
  /* margin: 40px; */
  width: 110px;
  /* margin: 10px; */
  height: 80px;
}

.div3 {
  display: flex;
  /* margin: 40px; */
  /* margin: 10px; */
  width: 135px;
  height: 78px;
}

.image8,
.image9,
.image10,
.image11 {
  width: 100%;
  height: 100%;

  display: flex;
  align-content: center;
  justify-content: center;

  position: relative;
  z-index: 1;
}

/* .image4 {
  margin-right: 10%;
  margin-left: 10%;
} */

.secondImage {
  display: flex;
  justify-content: center;
  /* background-color: #ededed; */
}

.image2 {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.image2:hover {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.8s ease;
}

.divLine {
  display: flex;
  /* background-color: #ededed; */
  justify-content: center;
}

.line {
  height: 5px;
  width: 37%;
  background-color: #322f5b;
  margin-bottom: 90px;
  margin-top: 50px;
  color: #322f5b;
}

.map {
  margin-bottom: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .secondDivParagraph {
    width: 70vw;
  }

  .thirdDivParagraph {
    width: 70vw;
  }

  .fourthDivParagraph {
    width: 70vw;
  }

  .thirdDivBisParagraph {
    width: 70vw;
  }
}

@media only screen and (max-width: 900px) {
  .phoneNumber {
    width: 20vw;
  }

  .nousLocaliser {
    width: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  .firstDiv {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #242337;
    justify-content: center;
    transition: height ease 0.8s;
    text-decoration: none;
    z-index: 1000;
  }

  .phoneNumber {
    width: 33vw;
  }

  .diagonale {
    background-color: rgba(229, 224, 212, 0);
    transform: skewY(-5deg);
    width: 15vw;
    height: 5px;
    border: 0;
  }

  .nousLocaliser {
    width: 30vw;
  }

  .firstDiv .mainTitle {
    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 2.8rem;
    color: #ededed;
    transition: font-size 1.1s;
    text-decoration: none;

    font-family: Josefin Sans;

    z-index: 1000;
  }

  .soustitre {
    font-family: Josefin Sans;
    color: #ededed;
    /* transition: font-size 1.1s, margin-top 1s; */

    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin-top: 2em;
  }

  .ouvertureText {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 700;
  }

  /* .crédits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  } */
  .créditsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* border: solid 2px red; */
  }

  .secondDivParagraph {
    width: 95vw;
  }

  .thirdDivParagraph {
    width: 95vw;
  }

  .fourthDivParagraph {
    width: 95vw;
  }

  .thirdDivBisParagraph {
    width: 95vw;
  }
}

@media only screen and (max-width: 800px) {
  .iconesReseaux {
    width: 40vw;
  }
}

.crédits {
  margin-top: 80px;
  /* margin-left: 60px; */

  font-family: Josefin Sans, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}

.boldTextCredits {
  font-weight: 400;
  font-size: 1rem;
}